@import 'source/mixins';

.wrapper {
  position: relative;
  width: 100%;
  min-height: 50px;
  min-width: 540px;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

.slide-enter-active,
.slide-leave-active {
  transition: all ease-out 0.4s;
}
.slide-enter,
.slide-leave-active {
  opacity: 0;
}
