$white: #FFF;
$off-black: #393939;

$oceanic-theme: (
        light-blue: #B0BEC5,
        sky-blue-1: #80CBC4,
        sky-blue-2: #83E2D9,
        blue-1: #607D8B,
        blue-2: #425B67,
        medium-blue-1: #314549,
        medium-blue-2: #2A373E,
        dark-blue: #1E272C,
        dark-grey: #323232
);

$retro-theme: (
        pink-1: #f1a9e3,
        violet-1: #7943c0,
        violet-red: #b20079,
        sky-blue: #a2d5f6,
        green-1: #aff561,
        light-green: #d8f2b6,
        off-black: #2c272d
);

$oceanic-light-blue: #B0BEC5;
$oceanic-sky-blue-1: #80CBC4;
$oceanic-sky-blue-2: #83E2D9;
$oceanic-blue-1: #607D8B;
$oceanic-blue-2: #425B67;
$oceanic-medium-blue-1: #314549;
$oceanic-medium-blue-2: #2A373E;
$oceanic-dark-blue: #1E272C;
$oceanic-dark-grey: #323232;

$retro-pink: #f1a9e3;
$retro-violet: #7943c0;
$retro-violet-red: #b20079;
$retro-sky-blue: #a2d5f6;
$retro-salad-green: #aff561;
$retro-light-green: #d8f2b6;
$retro-green: #3eaf7b;
$retro-yellow: #f5ea58;
$retro-off-black: #2c272d;
