@font-face {
  font-family: 'Airstream';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/AirstreamNF.ttf') format('truetype');
}

@font-face {
  font-family: 'Streamster';
  src: url('./assets/fonts/streamster.ttf') format('truetype');
}

@font-face {
  font-family: 'Abel';
  src: url('./assets/fonts/abel.ttf') format('truetype');
}
