@import '../source/_colors.scss';

h1, .heading-1 {
  font-size: 32px;
  margin-bottom: 20px;
}

h2, .heading-2 {
  font-size: 24px;
}

h3, .heading-3 {
  font-size: 20px;
}

h4, .heading-4 {
  font-size: 18px;
}

h5, .heading-5 {
  font-size: 13px;
}

.view-heading {
  border-bottom: 2px solid rgba(255, 255, 225, .7);
  padding: 10px 0;
  text-transform: uppercase;
  width: max-content;
}
